[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
jupyter = "*"
ipython = "*"
tqdm = "*"
tensorboardX = "*"
tikzplotlib = "*"
# UCI data
pandas = "*"
h5py = "*"

[dev-packages]
pytest = "*"
pylint = "*"
black = "*"
neovim = "*"
rope = "*"

[requires]
python_version = "3.10"
